<% library.forEach(function(model) { %>
   <tr id="<%= model.id%>" class="js-popover" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" title="Employee Details">
      <td width="200"><%= model.fullname.toUpperCase() %></td>
      <td class="text-right" width="100"><%= model.rpd %></td>
      <td class="text-center"><%= desig_module.getIndex(model.designation) %></td>
      <td class="text-center"><%= site_module.getIndex(model.site) %></td>
      <td class="text-center"><%= model.date_hired %> (<span class="text-muted"><%= moment(model.date_hired).fromNow() %></span>)</td>
      <td class="text-center"><%= licenseddriver_module.getDriversLicense(model.id) %>
         <a href="#license/change/<%= model.id %>"><span class="fa fa-edit"></span></a>
      </td>
      <td class="text-center">
          <%= self.displayLatestContract(model.id) %>
          <a title="renew contract" href="#contract/renew/<%= model.id %>">
              <i class="fa fa-edit"></i>
          </a>
      </td>
      <td width="10">
          <a class="text-danger" title="click this to update <%= model.fullname %>" href="#eci-workers/edit/<%= model.id %>">
             <span class="fa fa-pencil"></span>
          </a>
      </td>
      <td width="10">
          <a class="text-info" title="click this to remove <%= model.fullname %>" href="#eci-workers/delete/<%= model.id %>">
             <span class="fa fa-remove"></span>
          </a>
      </td>
   </tr>
<% }); %>