<div style="margin: 5px">
<button id="printTableSummary1" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-print"></span>  table</button>

</div><hr>
<div id="div-tbl-summary1">
<h5 style="font-weight: bolder" class="text-center">Summary of Salary Covered from <span id="d1"></span> - <span id="d2"></span><br>Day and Night Shift.
</h5>
<table class="table table-hover table-condensed table-bordered" style="font-size: 12px; margin-top 10px;">
    <thead>
        <tr>
            <th width="1">No.</th>
            <th rowspan="2" width="150">Name</th>
            <th width="100">Tonnage Per person</th>
            <th width="100" rowspan="2">Total Salary Covered</th>
            <th rowspan="2" width="200">Signature</th>
        </tr>
    </thead>
    <tbody id="list-of-summary1"></tbody>
</table>
</div>