<div style="margin: 5px">
<button id="printTableSummary3" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-print"></span>  table</button>

</div><hr>

<div id="div-tbl-summary3">
<h5 style="font-weight: bolder" class="text-center">Summary of Salary Covered from <span id="d1"></span> - <span id="d2"></span><br>Day and Night Shift.
</h5>
<div id="div-table-summary-three">
<table id="table-summary-3" class="table table-hover table-condensed table-bordered" style="font-size: 13px; margin-top 10px;">
    <thead>
        <tr>
            <th>Name</th>
            <th width="150">Salary of <span id="date-of-salaries"></span> W/ Incentives</th>
            <th width="140">Total Tons this Period</th>
        </tr>
    </thead>
    <tbody id="list-of-summary3"></tbody>
</table>
</div>
</div>