<div style="margin: 5px">
   <button id="printTableSummary2" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-print"></span>  Table</button>
   <button id="printEnvelopes" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-print"></span>  Envelopes</button>
</div><hr>

<div id="div-tbl-summary2">

<h5 style="font-weight: bolder" class="text-center">Summary of Salary Covered from <span id="d1"></span> - <span id="d2"></span><br>Day and Night Shift.
</h5>

<div id="div-table-summary-two">

  <table id="table-summary-2" class="table table-hover table-condensed table-bordered" style="font-size: 12px; margin-top 10px;">
    <thead>
        <tr>
            <th width="1">No.</th>
            <th rowspan="2" width="150" class="text-center">Name</th>
            <th width="100" class="text-center">Tonnage Per person</th>
            <th width="100" class="text-center" rowspan="2">Total Salary Covered</th>
            <th width="200" rowspan="2" class="text-center" width="200">Signature</th>
        </tr>
    </thead>
    <tbody id="list-of-summary2"></tbody>
  </table>

</div>

</div>