<style type="text/css">
    td, th, li, p {
        font-size: 20px;
    }
</style>
<% library.forEach(function(model) { %>
<% var salary = employee_module.calculateSalary(Number(model.ton), model) %>
    <div style="page-break-after: always">
        <ul>
            <li class="pull-right"><%= summary_module.getPayrolldate() %></li>
            <li># <%= employee_module.getProperty(model.id, 'numbering') %> <%= model.fullname.toUpperCase() %></li>
            <li>Total Tonnage <%= Accounting.formatMoney(model.ton, '', 0) %></li>
            <li><%= model.designation.toUpperCase() %></li>
        </ul>
        <ul class="text-center">
            <li>Salary &nbsp;&nbsp;----------------&nbsp;&nbsp;  <%= Accounting.formatMoney(Math.floor(salary), '', 0) %></li>
            <li style="margin-left: -140px; font-size: 15px;" class="text-danger">Less</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______________</li>
        </ul>
    </div>
<% }); %>