 <div class="modal fade" id="modal-summaries" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog" style="width: 52%">
             <div class="modal-content">
                  <div class="panel panel-default">
                        <div class="panel-heading">
                            Summary
                            <!-- <button class="pull-right" id="printEnvelopeSummary1" style="margin-left: 5px"> print <span class="glyphicon glyphicon-envelope"></span></button> -->
                        </div>
                        <!-- /.panel-heading -->
                        
                        <div class="panel-body">
                            <!-- Nav tabs -->

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Summary of Salary</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab">Summary of Payroll</a>
                                </li>
                                <li><a href="#summary3" data-toggle="tab">Summary of Tonners</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                            
                                <div class="tab-pane fade in active" id="home">
                                     <div id="table-summary1" style="padding: 10px; margin-top: 1%">Summary table ...</div>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <div id="table-summary2" style="padding: 10px; margin-top: 1%">Summary table ...</div>
                                </div>
                                <div class="tab-pane fade" id="summary3">
                                    <div id="table-summary3" style="padding: 10px; margin-top: 1%">Summary 3...</div>
                                </div>
                               
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                 </div>
                 <!-- /.modal-content -->
             </div>
             <!-- /.modal-dialog -->
         </div>    


              

