<style type="text/css">
    td, th, li, p {
        font-size: 20px;
    }
</style>
<% library.forEach(function(model) { %>
<% var payroll = payrolls.get(model.payroll_id) %>
<center style="margin-top: -10px">
    <div class="panel panel" id="panel-env" style="width: 800px; padding: 15px; page-break-after: always;">
          <p class="pull-right"><%= summary_module.getPayrolldate() %> </p>
          <ul class="list-group pull-left">
             <li class="list-group-item text-left" style="border-color: transparent; padding: 2px"># <%= employee_module.getProperty(model.id, 'numbering') %> <%= model.fullname %></li>
             <li class="list-group-item text-left" style="border-color: transparent; padding: 2px">Total Tonnage <span style="font-weight: bolder"><%= Accounting.formatMoney(model.ton,'',2) %></span></li>
             <li class="list-group-item text-left" style="border-color: transparent; padding: 2px"><%= model.designation.toUpperCase() %></li>          
          </ul>
          <table class="table table-hover" style="margin-top: 20%; width: 50%">
                <thead>
                     <tr>
                         <th style="border-color: transparent; padding: 2px">
                            Salary
                         </th>
                         <th style="border-color: transparent; padding: 2px" class="text-center">
                            ----------------
                         </th>
                         <th style="border-color: transparent; padding: 2px" class="text-right">
                             <% if(model.designation === 'driver'){ %>
                                  <% var salary = employee_module.calculateSalaryDriver(model.ton) %>
                                  <%= Accounting.formatMoney(Math.floor(salary),'',2) %>
                             <% }else { %>
                                  <% var salary = employee_module.calculateSalaryHelper(model.ton) %>
                                  <%= Accounting.formatMoney(Math.floor(salary),'',2) %>
                             <% } %>
                         </th>
                     </tr>

                     <tr>
                         <td style="border-color: transparent; padding: 2px">
                            Less
                         </td>
                         <th style="border-color: transparent; padding: 2px" class="text-right">

                         </th>
                         <th style="border-color: transparent; padding: 2px" class="text-right">
                            
                         </th>
                     </tr>
                     <tr>
                         <th class="text-right" style="margin-right: 4%; border-color: transparent; padding: 2px" colspan="3">
                            _____________
                         </th>
                     </tr>
                      
                </thead>
            </table>

    </div>                               
</center>

<% }); %>