<div class="col-lg-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            List of employees
        </div>
        <div class="panel-body" style="font-size: 12px">
            <form id="form-notify-contract">
               <label>Notify me within (days)
                   <input id="days-b4-expiration" type="text" class="form-control" style="" autofocus>
               </label>
               <h5 style="font-weight: bolder" class="pull-right">The system will notify you <span class="" id="days-b4-exp"></span> day/s before contract expiration</h5> 
               <button class="btn btn-default btn-sm" type="submit">Save</button>
            </form>
            <hr>
            <label class="text-primary">Expired Contract <span class="badge" id="expired-contract">0</span></label>
            <table class="table table-hover table-borderd">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Latest Contract</th>
                        <th class="text-center">Designation</th>
                        <th class="text-center">Site (Location)</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody id="list-of-nearly-expired-eci-workers"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <!-- Panel Footer -->
        </div>
    </div>
</div>
