<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Contract notification
        </div>
        <div class="panel-body">
            <form id="form-notify-contract">
               <label>Notify me within (days)
                   <input type="text" class="form-control" style="" autofocus>
               </label>
               <button class="btn btn-primary" type="submit">Save</button>
            </form>
            <hr>
            <table class="table table-hover table-borderd">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Contract</th>
                        <th>Designation</th>
                        <th>Site (Location)</th>
                    </tr>
                </thead>
                <tbody id="list-of-nearly-expired-eci-workers"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <!-- Panel Footer -->
        </div>
    </div>
</div>
