<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Contracts</b>
            <p class="pull-right">The system will notify you, <span id="rule-days"></span> days before contract expiration (<a id="btnShowModal" style="cursor: pointer">change</a>)</p>
        </div>
        <div class="panel-body" style="font-size: 12px">
            <label class="text-primary" style="">Expired Contract <span class="badge" id="expired-contract">0</span></label> &nbsp;&nbsp;/&nbsp;&nbsp;
            <label class="text-primary" style="">Total records <span class="badge" id="total-records">0</span></label>
            <hr>

            <table class="table table-hover table-borderd" id="tbl-contract-expiration">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Latest Contract</th>
                        <th class="text-center">Designation</th>
                        <th class="text-center">Site (Location)</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody id="list-of-nearly-expired-eci-workers"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <!-- Panel Footer -->
        </div>
    </div>
</div>
<div id="placeholder-notify-contract-days"></div>
