<% library.forEach(function(model) { %>
   <tr>
      <td width="200"><%= model.fullname.toUpperCase() %></td>
      <td class="text-right" width="100"><%= model.rpd %></td>
      <td class="text-center"><%= desig_module.getIndex(model.designation) %></td>
      <td class="text-center"><%= site_module.getIndex(model.site) %></td>
      <td class="text-center"><%= model.date_hired %></td>
      <td class="text-center"><%= licenseddriver_module.getDriversLicense(model.id) %>
      </td>
      <td class="text-center">
          <%= contract_module.getContract(model.id) %>          
      </td>
   </tr>
<% }); %>