<div class="modal fade" id="modalWait" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 20%">
        <div class="modal-content">
            
            <div class="modal-body">
               <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
               <span class="sr-only"></span><label> <span class="badge" id="complete">0</span>% Complete</label>
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>