<div id="container-login" class="container" style="margin-top: 10%">
  <div class="panel panel-default" style="background-color: #F6F7F2;opacity: 0.8;">
    <form class="form-signin">
        <h2 class="form-signin-heading" style="">ECI Garbage Payroll</h2>
        <label for="inputEmail" class="sr-only">Username</label>
         <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
         <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox"  style="color: white">
          <label style="color: #92F22A">
             <input type="checkbox" id="show-pass" value="remember-me"> Show password
          </label>
        </div>
        <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
  </div>
</div>
