        <div class="container" style="font-size: 12px">
            <input type="text" class="form-control pull-right" id="search-r-payrolls" style="margin-top: -5px; width: 250px; border-radius: 25px" placeholder="Search here.."/>
            <h3 class="page-header" style="margin-top: 0px">Trashed Payrolls</h3>
                <table class="table table-hover table-condensed table-bordered" id="table-rpayrolls">
                     <thead>
                         <tr>
                             <th class="text-center">Date</th>
                             <th>Workers</th>
                             <th class="text-center">Plate No.</th>
                             <th class="text-center">Shift time</th>
                             <th class="text-center">Total Ton</th>
                             <th class="text-center">Trip no</th>
                             <th width="20"></th>
                         </tr>
                     </thead>
                     <tbody id="list-of-restored-payrolls"></tbody>
                </table>
        </div>
        
