    <div class="modal fade" id="modalDesignations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 30%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Create Designation</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label>Designation name
                            <input type="text" id="name" class="form-control" />
                        </label>
                        <input type="submit" style="display: none">
                    </form>
                    <hr>
                    <div style="overflow: auto; max-height: 320px">
                      <small><h6>Order by name ASCENDING</h6></small>
                        <ul class="list-group" id="list-of-designation-in-modal">
                          <li class="list-group-item">
                            <span class="badge">14</span>
                               Cras justo odio
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>