<div class="container">
  <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
           Expired Drivers License
        </div>
        <div class="panel-body" style="font-size: 12px">
            <form>
               <label>Remind be before: 
                   <input type="text" class="form-control" placeholder="Days before notification">
               </label>
               <button class="btn btn-info">Save</button>
               <hr>
            </form>
            <table class="table table-hover table-bordered">
               <thead>
                  <tr>
                    <th>Fullname</th>
                    <th>License Expiration</th>
                    <th>Designation</th>
                    <th>Site Location</th>
                  </tr>
               </thead>
            </table>
        </div>
        <div class="panel-footer">
            Panel Footer
        </div>
    </div>
   </div> 
</div>
